  <ng-container>
  <div class="card mx-4">
    <div class="card-header py-3">
      <h5 class="mb-0">Panier</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          Votre commande actuelle
        </li>

        <div *ngFor="let article of articles">

        <li *ngIf="article.qty>0"
          class="list-group-item d-flex justify-content-between border-0 px-0 pb-0 ">
          <span class="">{{article.name}}</span>
          <span class=""> {{article.qty}} formation(s)</span>
          <span>{{article.price*article.qty}}</span>
        </li>
      </div>
      <div *ngIf="totalCart==0"><h4>Votre panier est vide</h4></div>
      <div *ngIf="totalCart>=0">
        <hr width=100%>
        <li
          class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
          <div>
            <strong>TVA</strong>
          </div>
          <span><strong>{{tva}} €</strong></span>
        </li>
        <li
        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
        <div>
          <strong>Prix Total TTC</strong>
        </div>
        <span><strong>{{totalCart}}.00 €</strong></span>
      </li>
    </div>
      </ul>
    </div>
  </div>
</ng-container>

