<ng-container>
  <div class="row">
  <div class="col-4 ml-4">
    <img
      src="assets/img/fms.jpg"
      alt=""
      class="img-fluid d-none d-md-block imgLogo"
    />
  </div>
  <div class="col-4 my-3">
    <h2 class="text-white title ">Formation FMS Academy</h2>
  </div>
  <div class="col-4 my-3">
    <div *ngIf="userLoged; else showUser">
    <app-modal></app-modal>

<button class="btn btn-lg btn-primary" (click)="open(mymodal)">Se connecter</button>
  </div>
  <ng-template #showUser>
    <p class="text-white title ">
      Bienvenue {{userName}}
    </p>
  </ng-template>
</div>
</div>
</ng-container>




<ng-template #mymodal let-modal>
  <div class="modal-header">
    <app-auth class="row card login"></app-auth>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
