<ng-container>
  <div class="card mx-4 col-10">
    <button class="btn btn-primary border-secondary btn-md m-2 shadow fontQty text-white" (click)="onArticleBtn()">
      Formations
    </button>
    <button class="btn btn-primary border-secondary btn-md m-2 shadow fontQty text-white" (click)="onCartBtn()">
      Panier
    </button>
    <button class="btn btn-primary border-secondary btn-md m-2 shadow fontQty text-white" (click)="onCustoBtn()">
      Fiche client
    </button>
    <button class="btn btn-primary border-secondary btn-md m-2 shadow fontQty text-white" (click)="onManageBtn()">
      Gestion des formations
    </button>
  </div>
</ng-container>

